.input {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color-scheme: dark;
  gap: 0.5rem 0;

  &__label {
    font-size: $font-size-s;
    text-transform: capitalize;
  }

  &__box {
    border: none;
    background-color: $color-grey-dark;
    color: $color-white;
    width: inherit;
    max-width: 80vw;

    &:focus,
    &:required {
      outline: 0.1rem solid $color-primary;
    }
  }
}
