*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02ch;
  color: $color-white;
  font-weight: 300;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media screen and (max-width: 1300px) {
    font-size: 0.77vw;
  }
  @media screen and (max-width: 1000px) {
    font-size: min(1.4vw, 62.5%);
  }
  @media screen and (max-width: 600px) {
    font-size: min(2vw, 56.25%);
  }
}

input {
  @include input-1;
}

button {
  height: 3.2rem;
  padding: 0em 2em;
  font-size: 1.6rem;
}

#root {
  @include flexCenter(column);
  margin: 0;
  padding: 0;
  background-color: $color-grey-dark;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2rem;
  background: $color-black;
}

::-webkit-scrollbar-track {
  margin-block: -0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: $corner-radius-main;
  border: 0.5rem solid transparent;
  background: $color-grey-mid;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-grey-dark;
  background-clip: content-box;
}
