.app {
  min-height: 100vh;
  height: auto;
  width: 100vw;

  background-image: linear-gradient(-60deg, $color-bg-2, $color-bg-1);
  @include flexCenter(row);
}

.main {
  @include flexCenter(row);
  width: min(156rem, calc(100% - 5rem));
  background-color: $color-black;
  border-radius: $corner-radius-main;
  padding: 4rem 0;
  box-shadow: -2px 6px 20px 3px rgba(#000, 0.4);
  margin: 2rem 0;

  @media screen and (max-width: 1000px) {
    margin: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    border-radius: 0;
    overflow: auto;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0rem 3rem;

    @media screen and (max-width: 1000px) {
      grid-template-columns: auto;
      grid-template-rows: repeat(5, auto);
    }

    @media screen and (max-width: 600px) {
      width: $container-width-l;
    }
  }
}

.header {
  margin-top: auto;
  margin-bottom: 0.8rem;
  height: 3rem;
}

.group {
  &--1 {
    background-color: $color-group-1;
  }
  &--2 {
    background-color: $color-group-2;
  }
  &--3 {
    background-color: $color-group-3;
  }
  &--4 {
    background-color: $color-group-4;
  }
  &--5 {
    background-color: $color-group-5;
  }
}
