.expenses {
  grid-area: 3/1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1000px) {
    grid-area: 4/1 / span 1 / span 1;
  }

  &__header-box {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: $container-width-l;
  }

  &__total {
    font-size: $font-size-m;
    text-align: end;

    & span {
      margin-left: 1rem;
      font-size: $font-size-l;
      font-weight: $font-semibold;
    }
  }

  &__container {
    width: $container-width-l;
    height: $container-height-l;
    overflow-y: auto;
    max-height: 7.2rem * 5 + 1rem * 4;

    @media screen and (max-width: 1000px) {
      height: auto;
      max-height: $container-height-l;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
  }
}

.expense {
  border-radius: $corner-radius-main;
  background-color: $color-grey-mid;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.2rem;
  padding: 0 2rem;
  // animation: expense 0.5s ease forwards;
  position: relative;
  overflow: hidden;

  // @keyframes expense {
  //   0% {
  //     transform: translateX(-100%);
  //     opacity: 0;
  //   }
  //   100% {
  //     transform: translateY(0);
  //     opacity: 1;
  //   }
  // }

  &__group {
    width: 1rem;
    height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__left {
    margin: 1rem 0 1rem 1rem;
  }

  &__title {
    font-size: $font-size-m;
    font-weight: $font-semibold;
    overflow-wrap: break-word;
    max-width: 36rem;

    @media screen and (max-width: 1000px) {
      max-width: 30rem;
    }
  }

  &__date {
    font-size: $font-size-s;
    color: $color-grey-xlight;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__btn {
    @include btn-s;
    text-transform: uppercase;

    & span {
      font-weight: $font-semibold;
    }
  }

  &__delete {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__symbol {
    display: none;

    @media screen and (max-width: 1000px) {
      display: initial;
    }
  }

  &__amount {
    font-size: $font-size-l;
    font-weight: $font-semibold;
    min-width: 9ch;
    text-align: right;
  }
}

.no-expense {
  height: $container-height-l;
  @include flexCenter(row);

  @media screen and (max-width: 1000px) {
    height: 16rem;
  }

  & h2 {
    font-size: $font-size-l;
    font-weight: $font-semibold;
  }
}
