.create-expense {
  grid-area: 3/2 / span 1 / span 1;

  @media screen and (max-width: 1000px) {
    grid-area: 5/1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin-top: 2rem;

    @media screen and (max-width: 1000px) {
      width: $container-width-l;
    }
  }

  &__container {
    width: $container-width-s;
    height: $container-height-l;
    background-color: $color-grey-mid;
    border-radius: 1.5rem;
    @include flexCenter(column);

    @media screen and (max-width: 1000px) {
      width: $container-width-l;
      height: $container-height-s;
    }

    @media screen and (max-width: 600px) {
      height: $container-height-l;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (max-width: 1000px) {
      width: $container-width-l;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    gap: 1.5rem;
    width: $container-width-s;
  }

  &__group {
    display: flex;
    flex-direction: column;
    font-size: $font-size-s;
    padding: 0 2rem;
    gap: 0.5rem;

    @media screen and (max-width: 1000px) {
      padding: 0 2rem;
    }
  }

  &__selector {
    @include input-1;
    background-color: $color-grey-dark;
    color-scheme: dark;
    width: inherit;

    &:focus,
    &:required {
      outline: 0.1rem solid $color-primary;
    }
  }

  &__btns {
    margin: 2rem 2rem 0 0;
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    gap: 0 1rem;
  }

  &__btn {
    @include btn-s;
  }
}
