@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02ch;
  color: #fbf8f2;
  font-weight: 300;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 0.77vw;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: min(1.4vw, 62.5%);
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: min(2vw, 56.25%);
  }
}

input {
  height: 3.6rem;
  border-radius: 0.5rem;
  border-style: none;
  width: 30rem;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.6rem;
}
input:focus {
  border: none;
}

button {
  height: 3.2rem;
  padding: 0em 2em;
  font-size: 1.6rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #27282b;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2rem;
  background: #1e1e1e;
}

::-webkit-scrollbar-track {
  margin-block: -0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  border: 0.5rem solid transparent;
  background: #313235;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #27282b;
}

.app {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-image: linear-gradient(-60deg, #2e65a6, #b84b4b);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min(156rem, 100% - 5rem);
  background-color: #1e1e1e;
  border-radius: 1.5rem;
  padding: 4rem 0;
  box-shadow: -2px 6px 20px 3px rgba(0, 0, 0, 0.4);
  margin: 2rem 0;
}
@media screen and (max-width: 1000px) {
  .main {
    margin: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    border-radius: 0;
    overflow: auto;
  }
}
.main__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0rem 3rem;
}
@media screen and (max-width: 1000px) {
  .main__wrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
}
@media screen and (max-width: 600px) {
  .main__wrapper {
    width: min(100vw - 6rem, 70rem);
  }
}

.header {
  margin-top: auto;
  margin-bottom: 0.8rem;
  height: 3rem;
}

.group--1 {
  background-color: rgb(67, 217, 236);
}
.group--2 {
  background-color: rgb(3, 148, 10);
}
.group--3 {
  background-color: rgb(238, 224, 30);
}
.group--4 {
  background-color: rgb(238, 39, 172);
}
.group--5 {
  background-color: rgb(148, 148, 148);
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: 1/1/span 1/-1;
}
.banner__message {
  display: flex;
  align-items: baseline;
  gap: 0.6rem;
}
@media screen and (max-width: 600px) {
  .banner__message {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
@media screen and (max-width: 1000px) {
  .banner__message--left {
    font-size: 2.4rem;
  }
}
.banner__message--right {
  font-size: 2.4rem;
  color: #969490;
  font-weight: 400;
}
@media screen and (max-width: 1000px) {
  .banner__message--right {
    font-size: 1.8rem;
  }
}
.banner__message--year {
  color: #fbf8f2;
  font-weight: 700;
}
.banner__selector {
  font-size: 1.8rem;
}

@media screen and (max-width: 1000px) {
  .select-year__label {
    display: none;
  }
}
.select-year__box {
  background-color: #1e1e1e;
  padding: 0 0.1rem 0 2rem;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.breakdown {
  grid-area: 2/1/span 1/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .breakdown {
    grid-area: 3/1/span 1/span 1;
  }
}
.breakdown__header {
  margin-top: 1rem;
  align-self: flex-start;
}
@media screen and (max-width: 1000px) {
  .breakdown__header {
    margin-top: 2rem;
  }
}
.breakdown__container {
  border-radius: 1.5rem;
  background-color: #313235;
  width: min(100vw - 6rem, 70rem);
  min-height: 28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .breakdown__container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: min(100vw - 6rem, 45rem);
  }
}

.meter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
  margin: 1rem 0;
}
@media screen and (max-width: 1000px) {
  .meter {
    font-size: 1.8rem;
  }
}
.meter__case {
  height: 18rem;
  width: 4.2rem;
  margin-top: 0.5rem;
  background-color: #1e1e1e;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 0.5rem solid #1e1e1e;
  box-sizing: border-box;
  overflow: hidden;
}
.meter__fill {
  width: 3.2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  transition: all 0.3s ease;
}
.meter__color {
  height: 17rem;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(221, 145, 46, 0.937254902), #f4cd3e, rgb(245, 232, 116));
  position: absolute;
  bottom: 0;
  left: 0;
}

.overview {
  grid-area: 2/2/span 1/span 1;
}
@media screen and (max-width: 1000px) {
  .overview {
    grid-area: 2/1/span 1/span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.overview__header {
  margin-top: 1rem;
}
@media screen and (max-width: 1000px) {
  .overview__header {
    width: min(100vw - 6rem, 70rem);
  }
}
.overview__container {
  border-radius: 1.5rem;
  background-color: #313235;
  width: min(100vw - 6rem, 45rem);
  height: 28rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.overview__meter {
  padding: 0 2rem;
  width: 20rem;
  position: relative;
  height: 28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.overview__backdrop {
  position: absolute;
  height: 20rem;
  width: 20rem;
  border-radius: 100rem;
  background-color: #1e1e1e;
  margin-left: 2rem;
}
.overview__cover {
  height: 18rem;
  width: 18rem;
  border-radius: 100rem;
  position: absolute;
  background-color: #313235;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview__total {
  font-size: 4.2rem;
  font-weight: 700;
}
.overview__letter {
  font-size: 1.8rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.group {
  padding-right: 2rem;
  max-width: 20rem;
}
.group:not(:last-child) {
  margin-bottom: 0.6rem;
}
.group__header {
  display: flex;
  align-items: center;
}
.group__color {
  height: 1rem;
  width: 1rem;
  border-radius: 10rem;
  margin-right: 0.5rem;
}
.group__name {
  font-size: 1.4rem;
  font-weight: 600;
}
.group__details {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.expenses {
  grid-area: 3/1/span 1/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .expenses {
    grid-area: 4/1/span 1/span 1;
  }
}
.expenses__header-box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: min(100vw - 6rem, 70rem);
}
.expenses__total {
  font-size: 1.8rem;
  text-align: end;
}
.expenses__total span {
  margin-left: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.expenses__container {
  width: min(100vw - 6rem, 70rem);
  height: 40rem;
  overflow-y: auto;
  max-height: 40rem;
}
@media screen and (max-width: 1000px) {
  .expenses__container {
    height: auto;
    max-height: 40rem;
  }
}
.expenses__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
}

.expense {
  border-radius: 1.5rem;
  background-color: #313235;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.2rem;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}
.expense__group {
  width: 1rem;
  height: 15rem;
  position: absolute;
  top: 0;
  left: 0;
}
.expense__left {
  margin: 1rem 0 1rem 1rem;
}
.expense__title {
  font-size: 1.8rem;
  font-weight: 600;
  overflow-wrap: break-word;
  max-width: 36rem;
}
@media screen and (max-width: 1000px) {
  .expense__title {
    max-width: 30rem;
  }
}
.expense__date {
  font-size: 1.4rem;
  color: #969490;
}
.expense__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.expense__btn {
  background-color: #4a4a4a;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0.1ch 1.5ch;
  cursor: pointer;
  text-transform: uppercase;
}
.expense__btn:hover {
  background-color: #f4cc3e;
}
.expense__btn span {
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .expense__delete {
    display: none;
  }
}
.expense__symbol {
  display: none;
}
@media screen and (max-width: 1000px) {
  .expense__symbol {
    display: initial;
  }
}
.expense__amount {
  font-size: 2.4rem;
  font-weight: 600;
  min-width: 9ch;
  text-align: right;
}

.no-expense {
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .no-expense {
    height: 16rem;
  }
}
.no-expense h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

.create-expense {
  grid-area: 3/2/span 1/span 1;
}
@media screen and (max-width: 1000px) {
  .create-expense {
    grid-area: 5/1/span 1/span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.create-expense__header {
  margin-top: 2rem;
}
@media screen and (max-width: 1000px) {
  .create-expense__header {
    width: min(100vw - 6rem, 70rem);
  }
}
.create-expense__container {
  width: min(100vw - 6rem, 45rem);
  height: 40rem;
  background-color: #313235;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .create-expense__container {
    width: min(100vw - 6rem, 70rem);
    height: 28rem;
  }
}
@media screen and (max-width: 600px) {
  .create-expense__container {
    height: 40rem;
  }
}
.create-expense__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: min(100vw - 6rem, 45rem);
}
@media screen and (max-width: 1000px) {
  .create-expense__form {
    width: min(100vw - 6rem, 70rem);
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .create-expense__form {
    grid-template-columns: 1fr;
  }
}
.create-expense__group {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 0 2rem;
  gap: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .create-expense__group {
    padding: 0 2rem;
  }
}
.create-expense__selector {
  height: 3.6rem;
  border-radius: 0.5rem;
  border-style: none;
  width: 30rem;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.6rem;
  background-color: #27282b;
  color-scheme: dark;
  width: inherit;
}
.create-expense__selector:focus {
  border: none;
}
.create-expense__selector:focus, .create-expense__selector:required {
  outline: 0.1rem solid #f4cc3e;
}
.create-expense__btns {
  grid-column: 1/-1;
  margin: 2rem 2rem 0 0;
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  gap: 0 1rem;
}
.create-expense__btn {
  background-color: #4a4a4a;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0.1ch 1.5ch;
  cursor: pointer;
}
.create-expense__btn:hover {
  background-color: #f4cc3e;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color-scheme: dark;
  gap: 0.5rem 0;
}
.input__label {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.input__box {
  border: none;
  background-color: #27282b;
  color: #fbf8f2;
  width: inherit;
  max-width: 80vw;
}
.input__box:focus {
  outline: 0.1rem solid #f4cc3e;
}
.input__box:invalid {
  outline: 0.1rem solid #4a4a4a;
}

/*# sourceMappingURL=index.css.map */
