@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02ch;
  color: #fbf8f2;
  font-weight: 300;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

input {
  height: 3.6rem;
  border-radius: 0.5rem;
  border-style: none;
  width: 30rem;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.6rem;
}
input:focus {
  border: none;
}

button {
  height: 3.2rem;
  padding: 0em 2em;
  font-size: 1.6rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2rem;
  background: #1e1e1e;
}

::-webkit-scrollbar-track {
  margin-block: -0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  border: 0.5rem solid #1e1e1e;
  background: #313235;
}

::-webkit-scrollbar-thumb:hover {
  background: #27282b;
}

.app {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-image: linear-gradient(-60deg, #2e65a6, #b84b4b);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min(156rem, calc(100% - 5rem));
  background-color: #1e1e1e;
  border-radius: 1.5rem;
  padding: 4rem 0;
  box-shadow: -2px 6px 20px 3px rgba(0, 0, 0, 0.4);
}
.main__wrapper {
  display: grid;
  grid-template-columns: 70rem 45rem;
  grid-template-rows: repeat(3, auto);
  gap: 0rem 3rem;
}

.header {
  margin-top: auto;
  margin-bottom: 0.8rem;
  height: 3rem;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: 1/1/span 1/-1;
}
.banner__message--right {
  font-size: 2.4rem;
  color: #969490;
  font-weight: 400;
}
.banner__message--year {
  color: #fbf8f2;
  font-weight: 700;
}
.banner__selector {
  font-size: 1.8rem;
}

.select-year__box {
  background-color: #1e1e1e;
  padding: 0 0.1rem 0 2rem;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.breakdown {
  grid-area: 2/1/span 1/span 1;
}
.breakdown__header {
  margin-top: 1rem;
}
.breakdown__container {
  border-radius: 1.5rem;
  background-color: #313235;
  width: 70rem;
  height: 28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.meter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.5rem;
}
.meter__case {
  height: 18rem;
  width: 4.2rem;
  margin-top: 0.5rem;
  background-color: #1e1e1e;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 0.5rem solid #1e1e1e;
  box-sizing: border-box;
  overflow: hidden;
}
.meter__fill {
  width: 3.2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}
.meter__color {
  height: 17rem;
  width: 100%;
  background-image: linear-gradient(0deg, #dd912eef, #f4cd3e, #f5e874);
  position: absolute;
  bottom: 0;
  left: 0;
}
.meter__month {
  font-size: 1.8rem;
}

.overview {
  grid-area: 2/2/span 1/span 1;
}
.overview__header {
  margin-top: 1rem;
}
.overview__container {
  border-radius: 1.5rem;
  background-color: #313235;
  width: 45rem;
  height: 28rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.overview__meter--outer {
  height: 20rem;
  width: 20rem;
  border-radius: 100rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.overview__meter--inner {
  height: 17.5rem;
  width: 17.5rem;
  border-radius: inherit;
  background-color: #313235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.overview__total {
  font-size: 4.8rem;
  font-weight: 700;
}
.overview__letter {
  font-size: 1.8rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.group {
  width: 18rem;
}
.group:not(:last-child) {
  margin-bottom: 1rem;
}
.group__header {
  display: flex;
  align-items: center;
}
.group__color {
  height: 1rem;
  width: 1rem;
  border-radius: 10rem;
  background-color: aqua;
  margin-right: 0.5rem;
}
.group__name {
  font-size: 1.4rem;
  font-weight: 600;
}
.group__details {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.expenses {
  grid-area: 3/1/span 1/span 1;
}
.expenses__header-box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}
.expenses__total {
  font-size: 1.8rem;
  text-align: end;
}
.expenses__total span {
  margin-left: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.expenses__container {
  width: 70rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.expense {
  border-radius: 1.5rem;
  background-color: #313235;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.2rem;
  padding: 0 2rem;
}
.expense__title {
  font-size: 1.8rem;
  font-weight: 600;
}
.expense__date {
  font-size: 1.4rem;
  color: #969490;
}
.expense__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.expense__delete {
  background-color: #4a4a4a;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 0 1.5ch;
  cursor: pointer;
}
.expense__delete:focus {
  background-color: #f4cc3e;
}
.expense__amount {
  font-size: 2.4rem;
  font-weight: 600;
}

.create-expense {
  grid-area: 3/2/span 1/span 1;
}
.create-expense__header {
  margin-top: 2rem;
}
.create-expense__container {
  width: 45rem;
  height: 40rem;
  background-color: #313235;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-expense__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40rem;
}
.create-expense__group {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 0.5rem;
}
.create-expense__selector {
  height: 3.6rem;
  border-radius: 0.5rem;
  border-style: none;
  width: 30rem;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.6rem;
  background-color: #27282b;
  color-scheme: dark;
  width: 38rem;
}
.create-expense__selector:focus {
  border: none;
}
.create-expense__selector:focus, .create-expense__selector:required {
  outline: 0.1rem solid #f4cc3e;
}
.create-expense__btns {
  margin-top: 3rem;
  width: 40rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 0 1rem;
}
.create-expense__btn {
  background-color: #4a4a4a;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 0 1.5ch;
  cursor: pointer;
}
.create-expense__btn:focus {
  background-color: #f4cc3e;
}

.input {
  display: flex;
  flex-direction: column;
  color-scheme: dark;
  gap: 0.5rem 0;
}
.input__label {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.input__box {
  border: none;
  background-color: #27282b !important;
  color: #fbf8f2;
  width: inherit;
}
.input__box:focus, .input__box:required {
  outline: 0.1rem solid #f4cc3e;
}

/*# sourceMappingURL=index.css.map */
